.dashboard{
    display: flex;
    min-height: 100vh;
    background: #edf3fb;
}
.dash-main{
    width: 100%;
    position: relative;
}
.dash-main_disabled:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
}